.search-result {
    clear: both;
    position: relative;
    margin-top: 20px;
    margin-left: 175px;
    margin-right: 10%;
}

@media (max-width: 850px) {
    .search-result {
        clear: both;
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}